/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
.test {
    padding:0;
    margin:0;
    list-style-type:none;
    width:500px;
}
.test li {
    width:100px;
    float:left;
}

}
